@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: linear-gradient(to top, transparent, #ffffff), url("/img/wallpaper.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #143257;
    margin-bottom: 1.2rem;
}

form input {
    width: 92%;
    outline: none;
    padding: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #ffffff;
    cursor: pointer;
    background-color: #143257;
}

button:hover{
    background-color: #1a3f6c;
}

input:focus{
    border: 1px solid #143257;
}

.terms {
    margin-top: 0.2rem;
}

.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.9rem;
}

.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #143257;
}

.member a{
    color: #143257;
    text-decoration: underline;
}

.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a {
    text-decoration: none;
    color: #143257;
}