/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #000;
    background-color: #f5f5f5;
    padding-top: 120px; /* Offset for fixed header */
}

/* Main Section Styling */
.main-section {
    text-align: center;
    padding: 60px 20px;
    color: #143257;
    background-color: #fff;
    width: 100%; /* Full width */
    margin: 0; /* Remove margins */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0; /* Remove border radius */
}

.main-section h1 {
    font-size: 2rem;
    color: #CC9A36;
    margin-top: -25px;
    margin-bottom: 35px;
    font-weight: 600;
}

.main-section p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    color: #143257;
    margin-left: 40px;
    margin-right: 40px;
}

